body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background: #f4f4f4;
}

header {
    background: #0b74de;
    color: white;
    padding: 1rem;
    text-align: center;
}

form {
    display: flex;
    gap: 0.5rem;
    padding: 1rem;
}

#taskList {
    list-style: none;
    padding: 1rem;
}

#taskList li {
    background: white;
    margin-bottom: 0.5rem;
    padding: 0.5rem;
    border-left: 5px solid #0b74de;
}